<%
   head = [
           ['Title', 'TIT2'],
           ['Artist', 'TPE1'],
           ['Year', 'TYER'],
           ['Composer', 'TCOM'],
           ['Album Title', 'TALB'],
           ['Album Artist', 'TPE2'],
           ['Track', 'TRCK'],
           ['Genre', 'TCON'],
           ['Copyright', 'TCOP'],
           ['Publisher', 'TPUB'],
           ['Cover art', 'APIC']
   ]
%>
<div class="row">
  <div class="col-md-12">
    <p>
      <%= @audio_file.url %>
    </p>
  </div>
</div>
<div class="row">
    <div class="col-md-8">

    <form class="form-horizontal" role="form">
      <% head.each do |pair| %>
          <% if @tags2.has_key? pair.second %>
              <div class="form-group">
                <label class="col-sm-2 control-label"><%= pair.first %></label>
                <div class="col-sm-10">
                  <input class="form-control" value="<%= @tags2[pair.second] %>" readonly>
                </div>
              </div>
          <% end %>
      <% end %>
  </div>
  <div class="col-md-4">
    <% unless @pictures.empty? %>
          <% @pictures.each do |pic| %>
            <div>
              <a href="<%= pic %>" target="_blank"><img src="<%= pic %>" class="img-thumbnail img-responsive"></a>
            </div>
          <% end %>
    <% end %>

  </div>
  <div class="row">
    <div class="col-md-12">
      <pre><%= JSON.pretty_generate(@tags) %></pre>
    </div>
  </div>

</div>
